body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url("../..//assets/images/bg-body.png");
    background-repeat: repeat;
}
.MainContent{
    flex : 1;
}
.MainContent
,.Footer{
    width: 75%;
    margin: 0 auto 0 auto;
    border-left: double;
    border-right: double ;
    padding: 0.5rem;
}
.Footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header{
    display: flex;
    align-items: center;
    height: 150px;
    border-bottom: dotted;
}
.Location{
    width: 25%;
}
.Logo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img[alt="Logo"]{
    max-width: 100%;
    max-height: 150px;
}
.SNS{
    width: 25%;
}
.SNS > a > img{
    max-width: 50px;
}
.Nav{
    width: 100%;
    display: flex;
    height: 100px;
    background-color: black;
    justify-content: center;
    align-items: center;

}
.NavItems{
    width: 33.33%;
    height: 100%;
    color: blue;
    position: relative;
    
}
div[id^="Nav"]{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div[id^="Nav"] > a{
    text-decoration: none;
}
.MainItems{
    display: flex;
    height: 400px;
}
.MainItems:nth-child(2n+2){
    background-color: lightblue;
}
.MainItems:nth-child(2n+3){
    flex-direction: row-reverse;

}
.Images{    
    width: 100%;
    white-space: nowrap;
    /* white-space nowrap is important */
    overflow: hidden;
}
.Images > img {
    display: inline-flex;
    width: 100%;
    max-height: 400px;
}
.Images :first-child{
    animation: slide 20s ease-in-out infinite;
}
@keyframes slide{
    0% {margin-left:0%;}
    25% {margin-left:-100%;}
    50% {margin-left:-200%;}
    75% {margin-left:-100%;}
    100% {margin-left:0%;}
}
.ItemIntro{
    width: 33.33%;
    margin: 1em;
}
.ItemPic{
    width: 66.67%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ItemPic > img{
    max-width: 100%;
    max-height: 100%;

}
.Menus{
    background-color: lightblue;
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

}
.NavItems:first-child{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    position: relative;
}
.NavItems:first-child:hover .Menus{
    display: flex;
}
